# Configurações do Banco de Dados
DB_DIALECT=postgres
DB_HOST=localhost
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=guincho-link
DB_SSL=false

# Configurações JWT
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

# Configurações do Administrador Padrão
DEFAULT_ADMIN_NOME=Administrador Padrão
DEFAULT_ADMIN_CPF=000.000.000-00
DEFAULT_ADMIN_NASCIMENTO=1990-01-01
DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_SENHA=admin123
